.menu {
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
  height: 300px;
  background-color: #F09A9D;    /* Red */
  float: left;
  width: 300px;
  margin-left: 300px;
}

.content {
  float: left;
  height: 500px;
  background-color: #F5CF8E;    /* Yellow */
  margin-left: 100px;
}

.footer {
  height: 200px;
  background-color: #D6E9FE;    /* Light blue */
}