h1{
    text-align: center;
    background-color: turquoise;
    height: 100px;
    font-size: 60px;
    font-family: "Arial", sans-serif;
}
ol{
    text-align: left;
    font-weight: bold;
}
table{
    alignment: center;

}
td{
    width: 100px;
}