<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lyy 的实验室</title>
    <link rel="stylesheet" href='../static/base.css'>
</head>
<body>
    <ol>This is the guide book of the lyylab
        <li>click the button</li>
        <li>upload .out file, the webpage show something</li>
        <li>select the item you want to curve fit</li>
    </ol>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>

</body>
<script>
    function get_upload_file(){
        var objFile = document.getElementById('outfile')
        var file = objFile.files[0]
        
    }

</script>>
</html>