<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  <form method="POST" action="" enctype="multipart/form-data">
      <input type="file" name="file" id="upload_file" style="display: none">
        <div style="text-align: center"><button  class="color" style="width: 620px;height: 80px;border-style: none;font-size: 30px" onclick="getFile()">click here, upload your .out file</button></div>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>