<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Floats</title>
    <link rel='stylesheet' href='../static/learn.css'/>
  </head>
  <div style="width: 100%; overflow: auto">
  <table style="border-collapse: collapse; overflow-x: scroll;width: 100%">
            <thead>
            <tr>
                <th style="width: 2000px">T(K)</th>
                <th>Loss</th>
            </tr>
            </thead>
            <tr>
                <td>100</td>
                <td>200</td>
            </tr>
        </table>
  </div>
  </body>
</html>