<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lyy 的实验室</title>
    <link rel="stylesheet" href='../static/base.css'>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>lyy's lab </h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <input type="file" name="file" id="upload_file" style="display: none">
        <div style="text-align: center"><button  class="color" style="width: 620px;height: 80px;border-style: none;font-size: 30px">click here, upload your .out file</button></div>
      <p><input type="submit" value="Submit"></p>
    </form>
    <style>

</style>

    {% for reaction in reaction_list %}
        <h2 style="text-align: center">{{ reaction.reactant_title }} 's</h2>
        <div style="overflow-x: scroll; ">
        <table style="border-collapse: collapse;">
            <thead>
            <tr>
            <th>T(K)</th>
                {% for name in reaction.column_name %}
                    <th style="height: 30px">{{ name }}</th>
                    <th style="width: 100px">分支比</th>
                {% endfor %}
                <th style="height: 30px">Loss</th>
            </tr>
            </thead>
            {% for i in range(reaction.temperature|length) %}
                <tr>
                    <td>{{ reaction.temperature[i] }}</td>
                    {% for key in reaction.branch_data_dict %}
                        {% if reaction.branch_ratio_dict[key][i] >= 0.1  %}
                            <td class="important_reaction">{{ reaction.branch_data_dict[key][i] }}</td>
                            <td class="important_reaction">{{ reaction.branch_ratio_dict[key][i] }}</td>
                        {% else %}
                            <td>{{ reaction.branch_data_dict[key][i] }}</td>
                            <td>{{ reaction.branch_ratio_dict[key][i] }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ reaction.loss[i] }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>>
    {% endfor %}
    {% for reaction in reaction_list %}
        {% for important_branch in reaction.important_branch_list %}
            <div style="width: auto;height: 600px;background: #D4F1F4">
             <div id="{{ reaction.reactant_title }} {{ important_branch }}" style="width: 600px;height:400px;background: beige;position: absolute;left: 300px; float: left; margin-top: 75px "></div>
                <script type="text/javascript">{
                  // 基于准备好的dom，初始化echarts实例
                  var myChart = echarts.init(document.getElementById('{{ reaction.reactant_title }} {{ important_branch }}'))
                  // 指定图表的配置项和数据
                  var option = {
                    title: {
                      text: '{{ reaction.reactant_title }} {{ important_branch }}'
                    },
                    tooltip: {trigger:'axis'},
                    legend: {
                      data: ['比例']
                    },
                    toolbox: {
                    feature: {
                        saveAsImage: {}
                        }
                    },
                    xAxis: {
                      data: {{ reaction.temperature }}
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                      {
                        name: '反应',
                        type: 'line',
                        data: {{ reaction.branch_data_dict[important_branch] }},
                        smooth:true,
                        stack: 'x',
                      },
                      {
                        name: '拟合',
                        type: 'line',
                        data: [0,0,0,0,0,0,0,0],
                        smooth:true,
                        stack: 'x',
                      }

                    ]
                  };
                  // 使用刚指定的配置项和数据显示图表。
                  myChart.setOption(option);
                }
                </script>

            <table id='{{ reaction.reactant_title }} {{ important_branch }} table'; class="table table-bordered" style="float:left; height: 400px; position: absolute; left: 1000px; margin-top: 75px">
                <thead>
                <tr style="font-size: 18px; background: #189AB4">
                    <th contenteditable="true">原始数据</th>
                    <th contenteditable="true">拟合数据</th>
                </tr>
                </thead>
            <tbody>
            {% for value in reaction.branch_data_dict[important_branch] %}
            <tr  style="font-size: 22px">
                <td contenteditable="true" style="background: #7EC8E3">{{ value }}</td>
                <td contenteditable="true" style="background: #7EC8E3">{{ value }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            <script>
            function btn_tx_r(id, temperature) {
                var myChart = echarts.init(document.getElementById(id));
                var table = document.getElementById(id+' table');
                var td_list = table.getElementsByTagName('td');
                var array = [];
                for(var i=0; i<td_list.length;i=i+2)
                {
                    array.push(parseFloat(td_list[i].innerHTML))
                }
                var data = {
                    data: JSON.stringify({
                    'xdata': temperature,
                    'ydata': array
                    }),
                 }
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/update",//后端请求
                    data: data,
                    success: function (result) {

                    for(var i=0; i<td_list.length/2;i=i+1)
                    {
                        td_list[i*2+1].innerHTML = result['fit_ydata'][i]
                    }
                    var option = myChart.getOption()
                    option['series'][0]['data'] = array
                    option['series'][1]['data'] = result['fit_ydata']
                    // 指定图表的配置项和数据
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                    },
                    error: function (result) {
                    }
                    })

            }
        </script>
            <div>

            <button id="btn_tx_1" onclick="btn_tx_r('{{ reaction.reactant_title }} {{ important_branch }}', {{ reaction.temperature }})" class="btn btn-primary" style="float: left; width:200px; height:75px; position: absolute; left: 1700px; margin-top: 300px">绘制曲线</button>

            </div>
        <h2> </h2>

        {% endfor %}
    {% endfor %}
</body>
<script>
    function get_upload_file(){
        var objFile = document.getElementById('outfile')
        var file = objFile.files[0]

    }


</script>
</html>