<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lyy 的实验室</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='base.css') }}/>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div>
    {% for reaction in reaction_list %}
        <h2 style="text-align: center;color:black">{{ reaction.reactant_title }} 's</h2>
        <div style="overflow-x: scroll; ">
        <table style="border-collapse: collapse;">
            <thead>
            <tr class="header">
                <th style="background: #189AB4">T(K)</th>
                {% for name in reaction.column_name %}
                    <th>{{ name }}</th>
                    <th>分支比</th>
                {% endfor %}
                <th>Loss</th>
            </tr>
            </thead>
            {% for i in range(reaction.temperature|length) %}
                <tr>
                    <td>{{ reaction.temperature[i] }}</td>
                    {% for key in reaction.branch_data_dict %}
                        {% if reaction.branch_ratio_dict[key][i] >= 0.05  %}
                            <td class="important_reaction">{{ reaction.branch_data_dict[key][i] }}</td>
                            <td class="important_reaction">{{ reaction.branch_ratio_dict[key][i] }}</td>
                        {% else %}
                            <td>{{ reaction.branch_data_dict[key][i] }}</td>
                            <td>{{ reaction.branch_ratio_dict[key][i] }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ reaction.loss[i] }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endfor %}
    {% for reaction in reaction_list %}
        {% for important_branch in reaction.important_branch_list %}
             <div class="each-reaction-container" style="display: flex;justify-content: center;border-bottom: 1px solid #4169E1;">
             <div id="{{ reaction.reactant_title }} {{ important_branch }}" style="width: 800px;height:600px;"></div>
                <script type="text/javascript">{
                  // 基于准备好的dom，初始化echarts实例
                  var myChart = echarts.init(document.getElementById('{{ reaction.reactant_title }} {{ important_branch }}'))
                  // 指定图表的配置项和数据
                  var option = {
                    title: {
                      text: '{{ reaction.reactant_title }} {{ important_branch }}'
                    },
                    tooltip: {trigger:'axis'},
                    legend: {
                      data: ['比例']
                    },
                    toolbox: {
                    feature: {
                        saveAsImage: {}
                        }
                    },
                      dataZoom:{
                        type:'inside',
                    },
                    xAxis: {
                      data: {{ reaction.temperature }}
                    },
                    yAxis: {
                        type: 'log',
                        axisLabel: {
                                        formatter: function (value) {
                                            var res = value.toString();
                                            var numN1 = 0;
                                            var numN2 = 1;
                                            var num1=0;
                                            var num2=0;
                                            var t1 = 1;
                                            for(var k=0;k<res.length;k++){
                                                if(res[k]==".")
                                                   t1 = 0;
                                                if(t1)
                                                   num1++;
                                                else
                                                   num2++;
                                            }

                                            if(Math.abs(value)<1 && res.length>1)
                                            {
                                                for(var i=2; i<res.length; i++){
                                                    if(res[i]=="0"){
                                                        numN2++;
                                                    }else if(res[i]==".")
                                                        continue;
                                                    else
                                                        break;
                                                }
                                                var v = parseFloat(value);
                                                v = v * Math.pow(10,numN2);
                                                return v.toString() + "e-" + numN2;
                                            }else if(num1>1)
                                            {
                                                if(res[0]=="-")
                                                    numN1 = num1 - 2;
                                                else
                                                    numN1 = num1 - 1;
                                                var v = parseFloat(value);
                                                v = v / Math.pow(10,numN1);
                                                if(num2 > 4)
                                                    v = v.toFixed(4);
                                                return v.toString() + "e" + numN1;
                                            }else
                                                return parseFloat(value);
                                        },
                                    },
                    },
                    series: [
                      {
                        name: '反应',
                        type: 'line',
                        connectNulls:true,
                        data: {{ reaction.branch_data_dict[important_branch] }},
                        smooth:true,
                      },
                      {
                    name: '拟合',
                    type: 'line',
                    connectNulls:true,
                    data:[],
                    smooth:true,
                  }

                    ]
                  };
                  // 使用刚指定的配置项和数据显示图表。

                  myChart.setOption(option);
                }
                </script>
            <table id='{{ reaction.reactant_title }} {{ important_branch }} table' class="table" style="margin-left: 100px">
                <thead>
                <tr style="font-size: 18px; background: #189AB4">
                    <th style="background: white"></th>
                    <th>T(K)</th>
                    <th>原始数据</th>
                    <th>拟合数据</th>
                </tr>
                </thead>
            <tbody>
            {% for i in range(reaction.branch_data_dict[important_branch]|length) %}
            <tr  style="font-size: 22px">
                <td style="border: none">
                    <div class="" data-status=1 onclick="change_status(this)"  style="width: 22px;height: 22px;border-radius: 50%;border: 2px solid #99D9EA;float: right;margin-right: 10px">
                        <div style="width: 14px;height: 14px;margin:2px 2px;border-radius: 50%;border:1px solid #0080FF;background: #0080FF"></div>
                    </div>
                </td>
                <td contenteditable="true" style="background: #7EC8E3">{{ reaction.temperature[i] }}</td>
                <td contenteditable="true" style="background: #7EC8E3">{{ reaction.branch_data_dict[important_branch][i] }}</td>
                <td contenteditable="true" style="background: #7EC8E3">0</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            <div class="ane_and_button" style="flex-direction: column;display:flex;justify-content: flex-start;margin-left: 100px">
            <table class="ane" id="{{ reaction.reactant_title }} {{ important_branch }} table2">
                <thead>
                <tr style="font-size: 18px; background: #189AB4">
                    <th>A</th>
                    <th>n</th>
                    <th>E</th>
                </tr>
                </thead>
                <tr style="font-size: 18px; background: #7EC8E3">
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
            <button id="btn_tx_1" onclick="btn_tx_r('{{ reaction.reactant_title }} {{ important_branch }}', {{ reaction.temperature }})" class="btn btn-primary" style="width:200px; height:75px;margin-top: 50px">绘制曲线</button>
            </div>
            </div>
        {% endfor %}
    {% endfor %}

</body>
<script>
    function btn_tx_r(id, temperature) {
                var myChart = echarts.init(document.getElementById(id));
                var table = document.getElementById(id+' table');
                var tr_list = table.getElementsByTagName('tr');
                var ane_table = document.getElementById(id+' table2')
                var ane_table_td = ane_table.getElementsByTagName('td')
                var array = [];
                var selected_temperature= []
                for(var i=1; i<tr_list.length;i=i+1)
                {
                    td_list = tr_list[i].getElementsByTagName('td')
                    array.push(parseFloat(td_list[2].innerHTML))
                }
                for(var i=1; i<tr_list.length;i=i+1)
                {
                    td_list = tr_list[i].getElementsByTagName('td')

                    selected_temperature.push(td_list[0].getElementsByTagName('div')[0].dataset['status'])
                }
                var data = {
                    data: JSON.stringify({
                    'selected_temperature':selected_temperature,
                    'xdata': temperature,
                    'ydata': array
                    }),
                 }
                console.log(data)
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/update",//后端请求
                    data: data,
                    success: function (result) {

                    for(var i=1; i<tr_list.length;i=i+1)
                    {
                        td_list = tr_list[i].getElementsByTagName('td')
                        td_list[3].innerHTML = result['fit_ydata'][i-1]
                    }
                    ane_table_td[0].innerHTML=result['a']
                    ane_table_td[1].innerHTML=result['n']
                    ane_table_td[2].innerHTML=result['e']
                    var option = myChart.getOption()
                    option['series'][0]['data'] = result['ydata']
                    option['series'][1]['data'] = result['fit_ydata']

                    // 指定图表的配置项和数据
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                    },
                    error: function (result) {
                    }
                    })

            }
    function get_upload_file(){
        var objFile = document.getElementById('outfile')
        var file = objFile.files[0]

    }
    function getFile(){
        document.getElementById('upload_file').click()

    }
    function change_status(div){
        if(div.dataset['status'] == 1){
            div.dataset['status'] = 0;
            var div = div.getElementsByTagName('div')[0];
            div.style['background'] = 'white'
        }
        else{
            div.dataset['status'] = 1;
            var div = div.getElementsByTagName('div')[0];
            div.style['background'] = '#0080FF';

        }
    }
</script>
</html>