<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="../static/echarts.min.js"></script>
  </head>
  <body>
    <h2 id="ec" style="text-align: center;height: 800px;width: 1600px">title</h2>
    <script type="text/javascript">{
                  // 基于准备好的dom，初始化echarts实例
                  var myChart = echarts.init(document.getElementById('ec'))
                  // 指定图表的配置项和数据
                  var option = {
                    tooltip: {trigger:'axis'},
                    legend: {
                      data: ['比例']
                    },
                    toolbox: {
                    feature: {
                        saveAsImage: {}
                        }
                    },
                    dataZoom:{
                        type:'inside',
                    },
                    xAxis: {
                      data: [0.0026,1,2,3,6,7,8,10],
                    },
                    yAxis: {
                        type: 'log',
                        logBase: 10,
                        axisTick:{
                            show: 'true'
                                },
                          },
                    series: [
                      {
                        name: '反应',
                        type: 'line',
                        connectNulls:true,
                        data: [1.26e-3,0.1,1,10,100,1000,2000,3000],
                        smooth:true,
                      },

                    ]
                  };
                  // 使用刚指定的配置项和数据显示图表。
                  myChart.setOption(option);
                }
                </script>
    </script>
  </body>
</html>